body {
    font-family: Arial, Helvetica;
    background: #e8e8e8;
}

.menu{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;

}


.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu ul li {
    display: inline-block;
    text-align: center;
}

.menu ul li a:hover{
 background: #ef8354;
}

.header a {
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 2rem 0;
}

.container {
    background-color: #092327;

}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegation ul {
    margin:00;
    padding: 0;
    list-style: none;
}

.navegation ul li {
    display: inline-block;
}

.navegation ul li a {
    display: block;
   padding: rem; 
}

.navegation ul li a:hover {
    background: #ef8354;
}

.active {
    background-color: #ef8354;
    color: white;
}

.Ubicacion iframe {
    outline: 2px solid blue;
    margin: 5rem auto;
    width: min-content;
}

.Ubicacion {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size:large;
}

.pie-pagina{
    width: 100%;
    background-color: #1e69ac;

}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
 width: 100px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;

}

.pie-pagina .grupo-1 .box p { 
    color: #efefef;
    margin-bottom: 10px;

}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.logo {
height: 50px;
margin-right: 10px;

}

.Logo1 {
 width: 200px;
 height: max-content;
}

.article1 {
  font-family: 'Times New Roman', Times, serif;
  font-size:medium;
  font-weight:bolder;
  text-align: left;

}

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.table-container {
    padding: 0 10%;
    margin: 40px auto 0;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table thead{

    background-color: #ee3528;

}

.table thead tr th {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}

.table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #f1f1f1;
    background-color: #3c3f44;
    padding: 8px;
    text-align: center;
    border: 1px solid;

}

.table tbody tr td .btn {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #FF1046;
    font-weight: medium;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
}

.table .thead .tr .th {
width: max-content;
}

.presupuesto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(3, 2fr);
    align-items: end;
    justify-items: start;
    grid-row-gap: 30px;

}
h4 {
    margin: 48px;
    font-size: 32px;
    text-transform: uppercase;
    font-family: "Roboto Thin", sans-serif;
}

/*CONTACTO PERSONALIZACION*/ 

.contact-wrapper {
    box-sizing: border-box;
    background: #181818;
    color: #fff;
    font-family: 'Quicksand';font-size: 22px;
    padding: 0 1.5em;

}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo {
    text-align: center;
    font-size: 3em;

}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);

}

.contact-wrapper {
    padding: 1em;
}
 .contact-form {
    background: #222222;
 }

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}
 .contact-form form p {
    margin: 0; 
    padding: 1em;
 }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    padding: .7em;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: #ffff;
    border-bottom: 1px solid #d63031;
}



.contact-form form button {
    background: #b70e21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
 .contact-info {
    background: #000;
 }
 .contact-form form button:hover,
 .contact-form form button:focus {
    background: #d63031;
    transition: background-color 1s ease-out;
    outline: 0;
 }
 
 .contact-info h4,
 .contact-info ul,
 .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
 }

 .contact-info ul {
    list-style: none;
    padding: 0;
 }

 .contact-info ul li {
    padding: .3em;
 }

 .col-12 {
    margin: 40px;
 }
 
 .carousel-item img{
   width: 100%;
   height: 100%;
 }

 #galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
 }
 #galeria img {
    width: 100%;
    height: 80%;

 }

 #galeria img:hover {
    border: 5px solid #f7f7f7;
 }

 /*PRESUPUESTOS PERSONALIZACION*/
 
/* Tarjetas cards (NOSOTROS) */


/*GRID NOSOTROS e INDEX*/
.Nuestros-trabajos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(3, 2fr);
    align-items: end;
    justify-items: center;
    grid-row-gap: 40px;
    padding: 50px;


}





/***MEDIA QUERIES, FINAL***/
@media ONLY screen AND (max-width:768px) {}


@media ONLY screen AND (max-width:576px) {
    .pie-pagina {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px; 
    }
    .Nuestros-trabajos {
        position: relative;
        display: block;
    }
     .menu {
     padding: 10px 0px;
     padding-left: 20px;
     font-size:small;
     width: max-content;
     }
    .box {
        float: left;
    }
    .Logo1 {
        float: left;
 
    }
}

.contact-wrapper {
    padding: 0 4rem;
}